@font-face {
    font-family: SVN-Gilroy;
    src: local("SVN-Gilroy Medium Italic"),local("SVN-GilroyMediumItalic"),url(assets/SVN-GilroyMediumItalic.0aeef43f.woff2) format("woff2"),url(assets/SVN-GilroyMediumItalic.73b16237.woff) format("woff"),url(assets/SVN-GilroyMediumItalic.e89902e1.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: SVN-Gilroy;
    src: local("SVN-Gilroy Bold Italic"),local("SVN-GilroyBoldItalic"),url(assets/SVN-GilroyBoldItalic.81a13c10.woff2) format("woff2"),url(assets/SVN-GilroyBoldItalic.9a4a50aa.woff) format("woff"),url(assets/SVN-GilroyBoldItalic.7c0e0ee0.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: SVN-Gilroy;
    src: local("SVN-Gilroy Medium"),local("SVN-GilroyMedium"),url(assets/SVN-GilroyMedium.c5f7e92d.woff2) format("woff2"),url(assets/SVN-GilroyMedium.ffc64835.woff) format("woff"),url(assets/SVN-GilroyMedium.391e8f17.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: SVN-Gilroy;
    src: local("SVN-Gilroy"),url(assets/SVN-Gilroy.715b0276.woff2) format("woff2"),url(assets/SVN-Gilroy.6c99394b.woff) format("woff"),url(assets/SVN-Gilroy.2ef86133.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: SVN-Gilroy;
    src: local("SVN-Gilroy Bold"),local("SVN-GilroyBold"),url(assets/SVN-GilroyBold.c3fbd897.woff2) format("woff2"),url(assets/SVN-GilroyBold.a3f3c1d6.woff) format("woff"),url(assets/SVN-GilroyBold.c6ef073b.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}
