
.intro-page {
  width: 100%;
  /* overflow: hidden; */
  background-image: url(./img/intro-page-3.jpg);
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  height:100%;
}
.head{
  width: 100%;
  margin: 0 auto;
  background: url(./img/top-bar.png) #da2127 no-repeat;
  background-size: cover;
}
.head .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: var(--SVN-gilroy-24-24px-bold-font-family);
  font-weight: var(--SVN-gilroy-24-24px-bold-font-weight);
  color: #FFF;
  font-size: var(--SVN-gilroy-24-24px-bold-font-size);
  letter-spacing: var(--SVN-gilroy-24-24px-bold-letter-spacing);
  line-height: var(--SVN-gilroy-24-24px-bold-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-24-24px-bold-font-style);
}
.intro-page .overlap {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.intro-page .overlap-group {display: flex;flex-direction: row;flex-wrap: wrap;max-width: 1043px;justify-content: flex-start;align-content: flex-end;}
.top-menu{max-width: 1320px;}

.intro .frame {
  display: flex;
  flex-direction: column;
  width: 551px;
  height: 792px;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 48px 0px;
  position: absolute;
  top: 120px;
}

.intro .div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.intro .frame-2 {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.intro .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-radius: 16px;
  overflow: hidden;
  background: linear-gradient(180deg, rgb(0, 96, 149) 0%, rgb(126, 211, 247) 54.69%, rgb(215, 21, 58) 100%);
}

.intro .img {
  position: relative;
  width: 72px;
  height: 72px;
}

.intro .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: var(--SVN-gilroy-24-24px-regular-font-family);
  font-weight: var(--SVN-gilroy-24-24px-regular-font-weight);
  color: #ffffff;
  font-size: var(--SVN-gilroy-24-24px-regular-font-size);
  letter-spacing: var(--SVN-gilroy-24-24px-regular-letter-spacing);
  line-height: var(--SVN-gilroy-24-24px-regular-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-24-24px-regular-font-style);
}

.intro .group {
  position: absolute;
  width: 375px;
  height: 156px;
  top: 11327px;
  left: 2241px;
  mix-blend-mode: overlay;
}

.intro .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 16px;
  overflow: hidden;
  background: linear-gradient(180deg, rgb(0, 96, 149) 0%, rgb(126, 211, 247) 54.69%, rgb(215, 21, 58) 100%);
}

.intro .group-2 {
  width: 380px;
  height: 156px;
  top: 10919px;
  left: 2780px;
  position: absolute;
  mix-blend-mode: overlay;
}

.intro .frame-5 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.intro .frame-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.intro .frame-7 {
  display: flex;
  flex-direction: column;
  height: 137px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  background: linear-gradient(180deg, rgb(0, 96, 149) 0%, rgb(126, 211, 247) 54.69%, rgb(215, 21, 58) 100%);
}

.intro .group-3 {
  width: 514px;
  height: 432px;
  top: 9785px;
  left: 2171px;
  position: absolute;
  mix-blend-mode: overlay;
}

.intro .group-4 {
  width: 498px;
  height: 497px;
  top: 148px;
  left: 27px;
  position: absolute;
  mix-blend-mode: overlay;z-index: 1;
}

.intro-page .top-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
}

.intro-page .navbar {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}
.ATM {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
}

.ATM .location {
  position: relative;
  width: 24px;
  height: 24px;
}

.ATM .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: var(--SVN-gilroy-12-12px-regular-font-family);
  font-weight: var(--SVN-gilroy-12-12px-regular-font-weight);
  color: var(--base-colorwhite);
  font-size: var(--SVN-gilroy-12-12px-regular-font-size);
  letter-spacing: var(--SVN-gilroy-12-12px-regular-letter-spacing);
  line-height: var(--SVN-gilroy-12-12px-regular-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-12-12px-regular-font-style);
}
.intro-page .logo-vietin-bank {
  position: relative;
  width: 198px;
  height: 50px;
}

.intro-page .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: var(--SVN-gilroy-12-12px-regular-font-family);
  font-weight: var(--SVN-gilroy-12-12px-regular-font-weight);
  color: #FFFFFF;
  font-size: var(--SVN-gilroy-12-12px-regular-font-size);
  letter-spacing: var(--SVN-gilroy-12-12px-regular-letter-spacing);
  line-height: var(--SVN-gilroy-12-12px-regular-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-12-12px-regular-font-style);
}

.intro-page .h-tr {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.tm-kim input.search {
  width: 260px;
  border: 1px solid var(--base-colorwhite);
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url("img/search-normal.svg") no-repeat 13px;
  border-radius: 25px;
  background-size: 20px;
}

.tm-kim input.search::placeholder {
  color: var(--base-colorwhite);
}

.tm-kim input:focus {
  outline: none;
}

.tm-kim img {
  filter: brightness(0) invert(1);
}

.tm-kim .hide {
  display: none !important;
}

.intro-page .img-2 {
  position: relative;
  /* width: 24px; */
  /* height: 24px; */
}

.intro-page .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: 'svn-gilroy-medium',sans-serif;
  font-weight: 500;
  color: #005993;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.intro-page .div-main-menu-social {
  flex-direction: column;
  align-items: flex-start;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.intro-page .div-main-menu-social-2 {
  align-items: center;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.intro-page .link {
  display: flex;
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
  padding: 7.5px;
  position: relative;
  background-color: var(--base-colorpicton-blue);
  border-radius: 13px;
  overflow: hidden;
}

.intro-page .i-fab {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.intro-page .symbol {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Font Awesome 5 Brands-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 11px;
  white-space: nowrap;
}

.intro-page .link-margin {
  display: flex;
  flex-direction: column;
  width: 36px;
  align-items: flex-start;
  padding: 0px 0px 0px 10px;
  position: relative;
  align-self: stretch;
}

.intro-page .i-fab-wrapper {
  height: 26px;
  justify-content: center;
  padding: 7.5px;
  align-self: stretch;
  width: 100%;
  background-color: var(--base-colorpicton-blue);
  border-radius: 13px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.intro-page .div-wrapper {
  height: 26px;
  justify-content: center;
  padding: 7.5px 8.3px 7.5px 8.7px;
  align-self: stretch;
  width: 100%;
  background-color: var(--base-colorpicton-blue);
  border-radius: 13px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.intro-page .link-2 {
  height: 26px;
  justify-content: center;
  padding: 7.5px 7.84px 7.5px 8.16px;
  align-self: stretch;
  width: 100%;
  background-color: var(--base-colorpicton-blue);
  border-radius: 13px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.contact-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 4px 16px;
  position: relative;
  border-radius: 16px;
  border: 1px solid;
  border-color: #ffffff;
}

.contact-center .call {
  position: relative;
  width: 24px;
  height: 24px;
}

.contact-center .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: var(--SVN-gilroy-20-20px-semibold-font-family);
  font-weight: var(--SVN-gilroy-20-20px-semibold-font-weight);
  color: var(--base-colorwhite);
  font-size: var(--SVN-gilroy-20-20px-semibold-font-size);
  letter-spacing: var(--SVN-gilroy-20-20px-semibold-letter-spacing);
  line-height: var(--SVN-gilroy-20-20px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-20-20px-semibold-font-style);
}

.intro-page .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: var(--SVN-gilroy-20-20px-semibold-font-family);
  font-weight: var(--SVN-gilroy-20-20px-semibold-font-weight);
  color: var(--base-colormain-crimson);
  font-size: var(--SVN-gilroy-20-20px-semibold-font-size);
  letter-spacing: var(--SVN-gilroy-20-20px-semibold-letter-spacing);
  line-height: var(--SVN-gilroy-20-20px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-20-20px-semibold-font-style);
}

.intro-page .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: var(--SVN-gilroy-24-24px-bold-font-family);
  font-weight: var(--SVN-gilroy-24-24px-bold-font-weight);
  color: #FFF;
  font-size: var(--SVN-gilroy-24-24px-bold-font-size);
  letter-spacing: var(--SVN-gilroy-24-24px-bold-letter-spacing);
  line-height: var(--SVN-gilroy-24-24px-bold-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-24-24px-bold-font-style);
}

.intro-page .div-main-menu-bottom {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: right;
  max-width: 1320px;
  margin: 0 auto;
}

.intro-page .div-main-menu-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.intro-page .div-main-menu-right {
  max-width: 1433px;
  /* text-align: right; */
  gap: px;
  /* display: inline-flex; */
  /* position: relative; */
  /* flex: 0 0 auto; */
  /* flex-wrap: wrap; */
  /* justify-content: flex-end; */
}

.intro-page .link-3 {
  width: 173px;
  height: 44px;
  gap: 4px;
  padding: 8px 16px 8px 22px;
  background-color: var(--base-colormain-crimson);
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.intro-page .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: var(--SVN-gilroy-14-14px-semibold-font-family);
  font-weight: var(--SVN-gilroy-14-14px-semibold-font-weight);
  color: var(--base-colorwhite);
  font-size: var(--SVN-gilroy-14-14px-semibold-font-size);
  letter-spacing: var(--SVN-gilroy-14-14px-semibold-letter-spacing);
  line-height: var(--SVN-gilroy-14-14px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-14-14px-semibold-font-style);
}

.intro-page .frame-4 {
  position: relative;
  width: 518px;
  height: 172px;
  margin-top: 345px;
  margin-left: 900px;
}

.intro-page .frame-5 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 0;
  left: 158px;
}

.intro-page .element-partly-cloudy {
  position: relative;
  width: 80px;
  height: 80px;
}

.intro-page .outline {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 5px;
  left: 5px;
}

.intro-page .group {
  position: relative;
  width: 272px;
  height: 70px;
}

.intro-page .frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.intro-page .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--SVN-gilroy-35-35px-bold-font-family);
  font-weight: var(--SVN-gilroy-35-35px-bold-font-weight);
  color: var(--base-colorwhite);
  font-size: var(--SVN-gilroy-35-35px-bold-font-size);
  letter-spacing: var(--SVN-gilroy-35-35px-bold-letter-spacing);
  line-height: var(--SVN-gilroy-35-35px-bold-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-35-35px-bold-font-style);
}

.intro-page .p {
  position: relative;
  width: fit-content;
  font-family: var(--SVN-gilroy-24-24px-regular-font-family);
  font-weight: var(--SVN-gilroy-24-24px-regular-font-weight);
  color: var(--base-colorwhite);
  font-size: var(--SVN-gilroy-24-24px-regular-font-size);
  letter-spacing: var(--SVN-gilroy-24-24px-regular-letter-spacing);
  line-height: var(--SVN-gilroy-24-24px-regular-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-24-24px-regular-font-style);
}

.intro-page .form {
  display: flex;
  width: 518px;
  height: 66px;
  align-items: flex-start;
  position: absolute;
  top: 106px;
  left: 0;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}

.intro-page .button-search-submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 19px 23px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.intro-page .input {
  display: flex;
  flex-direction: column;
  height: 66px;
  align-items: flex-start;
  /* padding: 23px 15px 23px 20px; */
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
}

.intro-page .div-placeholder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 408px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.intro-page .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -219px;
  font-family: var(--SVN-gilroy-17-17px-regular-font-family);
  font-weight: var(--SVN-gilroy-17-17px-regular-font-weight);
  color: #6e7279;
  font-size: var(--SVN-gilroy-17-17px-regular-font-size);
  letter-spacing: var(--SVN-gilroy-17-17px-regular-letter-spacing);
  line-height: var(--SVN-gilroy-17-17px-regular-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-17-17px-regular-font-style);
  width: 100%;
  padding: 23px 0;
  border: 0;
}

.intro-page .CTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  position: fixed;
  bottom: 20px;
  right: 15px;
}

.intro-page .chat {
  position: relative;
  width: 64px;
  height: 62.59px;
  background-color: #005993;
  border-radius: 32px/31.3px;
}
.intro-page .chat:hover {
  cursor: pointer;
  animation: shake 0.5s ease-in-out;
}

.intro-page .bi-messenger {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 13px;
  left: 14px;
}

.intro-page .t-vn {
  position: relative;
  width: 64px;
  height: 62.59px;
  background-color: var(--base-colormain-pale-cyan);
  border-radius: 32px/31.3px;
}

.intro-page .t-vn:hover {
  cursor: pointer;
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% { transform: translate(0, 0) rotate(0); }
  20% { transform: translate(-5px, 0) rotate(-5deg); }
  40% { transform: translate(5px, 0) rotate(5deg); }
  60% { transform: translate(-5px, 0) rotate(-5deg); }
  80% { transform: translate(5px, 0) rotate(5deg); }
  100% { transform: translate(0, 0) rotate(0); }
}

.intro-page .remix-icons-line {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 13px;
  left: 14px;
}
.navbar .text-wrapper-2:hover{
  color: var(--base-colormain-sea-blue);cursor: pointer;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 173px;
  z-index: 1;
  text-align: center;
  height: 50px;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  display: block;
  background: #FFF;
  margin: 5px 0;
  border-radius: 5px;
  height: 70px;
  vertical-align: middle;

  /* display: inherit; */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content img{max-height: 50px;}
.list_me{display: flow-root;}

input.search {
  width: 260px;
  border: 1px solid #4bb8e9;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url("img/search-normal.svg") no-repeat 13px;
  border-radius: 25px;
  background-size: 20px;
}
input:focus {
  outline: none;
}
.hide {
  display: none !important;
}
.logo-vietinbank{
  max-width: 200px;
  padding-top: 5px;
}

/*box home*/


.box-h {
  display: flex;
  flex-direction: column;
  width: 551px;
  height: 792px;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 48px 0px;
  position: absolute;
  top: 120px;
}

.box-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.box-f2 {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.box-f3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-radius: 16px;
  overflow: hidden;
}
.box-f3 img{
  transition: 0.4s;
}
.box-h .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: var(--SVN-gilroy-24-24px-regular-font-family);
  font-weight: var(--SVN-gilroy-24-24px-regular-font-weight);
  color: #ffffff;
  font-size: var(--SVN-gilroy-24-24px-regular-font-size);
  letter-spacing: var(--SVN-gilroy-24-24px-regular-letter-spacing);
  line-height: var(--SVN-gilroy-24-24px-regular-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-24-24px-regular-font-style);
}

.box {
  position: absolute;
  width: 375px;
  height: 156px;
  top: 11327px;
  left: 2241px;
  mix-blend-mode: overlay;
}

.box-f4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 16px;
  overflow: hidden;
}

.box-2 {
  width: 380px;
  height: 156px;
  top: 10919px;
  left: 2780px;
  position: absolute;
  mix-blend-mode: overlay;
}

.box-f5 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box-f6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.box-f7 {
  display: flex;
  flex-direction: column;
  height: 137px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.box-3 {
  width: 514px;
  height: 432px;
  top: 9785px;
  left: 2171px;
  position: absolute;
  mix-blend-mode: overlay;
}

.box-4 {
  width: 498px;
  height: 497px;
  top: 148px;
  left: 27px;
  position: absolute;
  mix-blend-mode: overlay;z-index: 1;
}

.box-h .box-f3:hover .text-wrapper,.box-f4:hover .text-wrapper,.box-f7:hover .text-wrapper{
  z-index: 5;
}
.box-h .box-f3:hover img,.box-f4:hover img,.box-f7:hover img{
  z-index: 5;
}
/*home link */
.link_home {
  position: relative;
  width: fit-content;
  font-family: var(--SVN-gilroy-24-24px-regular-font-family);
  font-weight: var(--SVN-gilroy-24-24px-regular-font-weight);
  color: #ffffff;
  font-size: var(--SVN-gilroy-24-24px-regular-font-size);
  letter-spacing: var(--SVN-gilroy-24-24px-regular-letter-spacing);
  line-height: var(--SVN-gilroy-24-24px-regular-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-24-24px-regular-font-style);
  text-decoration: none;
  display: flex;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 30px;

  /*  Remove overflow to see how it worksÃ£â‚¬â‚¬:) */
  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;

  /*  Set same font-size and line height  */
  line-height: 25px;
  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(38deg);
}

/* Hover Action*/

/* Move up two texts (20px = font-size) */
.box-h .box-f3:hover .link-container,.box-f4:hover .link-container,.box-f7:hover .link-container {
  transform: translateY(-20px);
}

/* Rotate texts a little bit */
.box-h .box-f3:hover .link-title1,.box-f4:hover .link-title1,.box-f7:hover .link-title1 {
  transform: rotate(20deg);
}

.box-h .box-f3:hover .link-title2,.box-f4:hover .link-title2,.box-f7:hover .link-title2 {
  transform: rotate(0);
}

/* Move arrows to right */
.box-h .box-f3:hover .icon:first-child,.box-f4:hover .icon:first-child,.box-f7:hover  .icon:first-child {
  transform: translate(40px);
}

.box-h .box-f3:hover .icon:nth-child(2),.box-f4:hover .icon:nth-child(2),.box-f7:hover .icon:nth-child(2) {
  transform: translate(0px);
}

/* Header Sticky */
.header.sticky .header-inner {
  position: fixed !important;
  top: 0;
  animation: fadeInDown 1s both 0.2s;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  width: 100%;
  display: flex;
  background: #FFF;
}
.header {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--base-colorwhite);
}

.header .header-main {
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.header .logo-vietin-bank {
  position: relative;
  width: 202px;
  height: 50px;
}

.header .list {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}
.header .item-margin:hover .div,.item-margin:hover .symbol-2 {
  cursor: pointer;
}
.header .menu-active .link-wrapper {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-color: #e40013;
  padding: 26px 10px;
  height: 85px;
}

.header .link {
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.header .text-wrapper {
  position: relative;
  width: fit-content;
  text-shadow: 0.05px 0px 0px #ffffffcc;
  font-family: var(--SVN-gilroy-17-17px-semibold-font-family);
  font-weight: var(--SVN-gilroy-17-17px-semibold-font-weight);
  color: var(--base-colorblack);
  font-size: var(--SVN-gilroy-17-17px-semibold-font-size);
  letter-spacing: var(--SVN-gilroy-17-17px-semibold-letter-spacing);
  line-height: var(--SVN-gilroy-17-17px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-17-17px-semibold-font-style);
  padding-right: 5px;
}

.header .pseudo-margin {
  margin-left: -0.69px;
  display: flex;
  flex-direction: column;
  width: 13.75px;
  align-items: flex-start;
  position: relative;
}

.header .pseudo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.header .symbol {
  text-shadow: 0.05px 0px 0px #ffffffcc;
  position: relative;
  width: fit-content;
  margin-top: 1px;
  margin-right: -0.25px;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-weight: 400;
  color: var(--base-colorblack);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.header .item-margin {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 10px;
  position: relative;
  flex: 0 0 auto;
}

.header .link-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 27px 10px;
  position: relative;
  flex: 0 0 auto;
}

.header .div {
  position: relative;
  width: fit-content;
  font-family: var(--SVN-gilroy-17-17px-regular-font-family);
  font-weight: var(--SVN-gilroy-17-17px-regular-font-weight);
  color: var(--base-colorblack);
  font-size: var(--SVN-gilroy-17-17px-regular-font-size);
  letter-spacing: var(--SVN-gilroy-17-17px-regular-letter-spacing);
  line-height: var(--SVN-gilroy-17-17px-regular-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-17-17px-regular-font-style);
  padding-right: 5px;
}

.header .pseudo-wrapper {
  margin-left: -0.56px;
  display: flex;
  flex-direction: column;
  width: 13.75px;
  align-items: flex-start;
  position: relative;
}

.header .symbol-2 {
  position: relative;
  width: fit-content;
  margin-top: 1px;
  margin-right: -0.25px;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-weight: 400;
  color: var(--base-colorblack);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.header .div-wrapper {
  margin-left: -0.78px;
  display: flex;
  flex-direction: column;
  width: 13.75px;
  align-items: flex-start;
  padding: 0px 0px 0px 5px;
  position: relative;
}

.header .item-margin-2 {
  position: relative;
  flex: 0 0 auto;
}

.header .div-main-menu-right {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.header .img {
  position: relative;
  width: 1px;
  height: 40px;
}

.header .link-2 {
  width: 173px;
  height: 45px;
  gap: 4px;
  padding: 5px 16px 5px 24px;
  background-color: rgb(228 2 19);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
.header .link-2dn {
  width: 173px;
  height: 60px;
  padding: 8px 0;
  background-color: rgb(255 255 255);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  text-align: right;
}
.header .link-2dn img{
  max-height: 40px;
}

.header .login {
  position: relative;
  width: 24px;
  height: 24px;
}

.header .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: var(--SVN-gilroy-14-14px-semibold-font-family);
  font-weight: var(--SVN-gilroy-14-14px-semibold-font-weight);
  color: var(--base-colorwhite);
  font-size: var(--SVN-gilroy-14-14px-semibold-font-size);
  letter-spacing: var(--SVN-gilroy-14-14px-semibold-letter-spacing);
  line-height: var(--SVN-gilroy-14-14px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-14-14px-semibold-font-style);
}
.flex{display: flex;}

/* Links inside the dropdown */
.dropdown-content a,.sticky-dropdown-content a {
  padding: 12px 16px;
  display: block;
  background: #FFF;
  margin: 5px 0;
  border-radius: 5px;
  height: 70px;
  vertical-align: middle;

  /* display: inherit; */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover,.sticky-dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.dropdown:hover .dropdown-content, .dropdown:hover .sticky-dropdown-content {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.dropdown-content img,.sticky-dropdown-content img{max-height: 50px;}
.list_me{display: flow-root;}
.sticky .sticky-dropdown-content,.header-main1 .sticky-dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  text-align: center;
  height: 50px;
  min-width: 176px;
}
.sticky .sticky-dropdown-content{
  padding-top: 71px;
  margin-left: 30px;
}
.header-main1 .sticky-dropdown-content{
  padding-top: 53px;
}
.sticky{display: flex !important}
.container{max-width: 1320px; margin: 0 auto;}
/*end header stick*/
.intro_new{position: absolute !important;
  background: none;
  height: auto;
  z-index: 1;}

/*#mega menu*/
.header-main1 .mega {
  display: flex;
  align-items: center;
  z-index: 99999999999;
  background-color: #ffffff;
  position: absolute;
  flex-direction: row;
  flex-wrap: nowrap;
  left: -240px;
  width: 1320px;
  margin-top: 10px;
  border-radius: 8px;
}

.sticky .mega {
  display: flex;
  align-items: center;
  z-index: 99999999999;
  background-color: #ffffff;
  position: absolute;
  flex-direction: row;
  flex-wrap: nowrap;
  left: -300px;
  width: 1320px;
  margin-top: 7px;
}

.mega .menuF {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  padding: 24px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  background-color: #f6f6fa;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.mega .div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.mega .menuF-2 {
  display: inline-flex;
  align-items: center;
  gap: 18px;
  position: relative;
  flex: 0 0 auto;
}

.mega .mega_group {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: var(--neutral-100);
  border-radius: 15px;
  box-shadow: var(--icons-white-shadow);
}

.mega .img {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 16px;
  left: 16px;
}

.mega .menuF-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 7px;
  position: relative;
  flex: 0 0 auto;
}

.mega .menuF-wrapper {
  position: relative;
  width: 190.36px;
  height: 21px;
}

.mega .menuF-4 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

.mega .active .p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--SVN-gilroy-20-20px-semibold-font-family);
  font-weight: var(--SVN-gilroy-20-20px-semibold-font-weight);
  color: var(--base-colormain-sea-blue);
  font-size: var(--SVN-gilroy-20-20px-semibold-font-size);
  letter-spacing: var(--SVN-gilroy-20-20px-semibold-letter-spacing);
  line-height: var(--SVN-gilroy-20-20px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-20-20px-semibold-font-style);
}

.mega .active .vector,
.mega .active .vector-2 {
  filter: brightness(0) saturate(100%) invert(16%) sepia(100%) saturate(2490%) hue-rotate(188deg) brightness(97%) contrast(103%);
}

.mega .menuF-2:hover .p{
  color: var(--base-colormain-sea-blue);
  cursor: pointer;
}

.mega .overlap-mega_group-wrapper {
  position: relative;
  width: 12.36px;
  height: 15.72px;
}

.mega .overlap-mega_group {
  position: relative;
  width: 14px;
  height: 14px;
  top: 3px;
  left: -1px;
}

.mega .vector {
  position: absolute;
  width: 8px;
  height: 14px;
  top: 0;
  left: 7px;
}

.mega .vector-2 {
  position: absolute;
  width: 14px;
  height: 3px;
  top: 6px;
  left: 0;
}

.mega .menuF-2:hover .vector,
.mega .menuF-2:hover .vector-2 {
  filter: brightness(0) saturate(100%) invert(16%) sepia(100%) saturate(2490%) hue-rotate(188deg) brightness(97%) contrast(103%);
}

.mega .vector-wrapper {
  position: relative;
  width: 39px;
  height: 42px;
  top: 14px;
  left: 15px;
  background-image: url(./img/megamenu/vector-8.svg);
  background-size: 100% 100%;
}

.mega .vector-3 {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 13px;
  left: 11px;
}

.mega .div-wrapper {
  width: 199.36px;
  position: relative;
  height: 21px;
}

.mega .menuF-5 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.mega .p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--SVN-gilroy-20-20px-semibold-font-family);
  font-weight: var(--SVN-gilroy-20-20px-semibold-font-weight);
  color: var(--neutralneutral-grey-1neutral-gray-500);
  font-size: var(--SVN-gilroy-20-20px-semibold-font-size);
  letter-spacing: var(--SVN-gilroy-20-20px-semibold-letter-spacing);
  line-height: var(--SVN-gilroy-20-20px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--SVN-gilroy-20-20px-semibold-font-style);
}

.mega .menuF-6 {
  display: flex;
  align-items: center;
  gap: 18px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.mega .filter-and {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 15px;
  left: 15px;
}

.mega .mega_group-2 {
  width: 174.36px;
  position: relative;
  height: 21px;
}

.mega .products-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 32px 32px 30px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #ffffff;
}

.mega .interactive-reports {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.mega .title {
  display: flex;
  height: 24px;
  align-items: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  text-align: left;
}

.mega .img-2 {
  position: relative;
  width: 20px;
  height: 20px;
}

.mega .menu-text-2 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-weight: 500;
  color: var(--neutralneutral-grey-1neutral-gray-500);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.mega .hand-coin {
  position: relative;
  width: 16px;
  height: 17px;
  top: 1px;
  left: 2px;
}

.mega .overlap-group {
  position: relative;
  width: 18px;
  height: 18px;
  left: -1px;
  margin-top: 5px;
}

.mega .overlap-2 {
  position: absolute;
  width: 17px;
  height: 9px;
  top: 8px;
  left: 0;
}

.mega .vector-4 {
  position: absolute;
  width: 13px;
  height: 8px;
  top: 1px;
  left: 4px;
}

.mega .vector-5 {
  position: absolute;
  width: 5px;
  height: 9px;
  top: 0;
  left: 0;
}

.mega .overlap-mega_group-2 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 0;
  left: 7px;
}

.mega .vector-6 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
}

.mega .subtract {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 0;
  left: 0;
}
.tablinks,.stablinks{cursor: pointer}
.mega .rectangle {
  top: 45px;
  position: relative;
  width: 2px;
  height: 300px;
  background-color: var(--neutralneutral-grey-1neutral-gray-200);
  z-index: 1;
}

.mega .project-card-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 32px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.mega .project-card {
  display: flex;
  flex-direction: column;
  height: 326px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.mega .element-wrapper {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-image: url(./img/megamenu/unsplash-gmes5dnykus-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.mega .element {
  position: absolute;
  width: 111px;
  height: 113px;
  top: 143px;
  left: 168px;
}

.mega .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  padding: 12px 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--base-colormain-sea-blue);
}

.mega .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--SVN-gilroy-20-20px-semibold-font-family);
  font-weight: var(--SVN-gilroy-20-20px-semibold-font-weight);
  color: var(--neutralwhite);
  font-size: var(--SVN-gilroy-20-20px-semibold-font-size);
  letter-spacing: var(--SVN-gilroy-20-20px-semibold-letter-spacing);
  line-height: var(--SVN-gilroy-20-20px-semibold-line-height);
  font-style: var(--SVN-gilroy-20-20px-semibold-font-style);
}

.mega .products-left-2 {
  background-color: var(--neutralneutral-grey-1neutral-gray-50);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 32px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.mega .project-card-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 8px;
  overflow: hidden;
}

.mega .unsplash-wrapper {
  position: relative;
  flex: 1;
  width: 496px;
  flex-grow: 1;
  margin-right: -217.12px;
}

.mega .unsplash {
  position: absolute;
  width: 279px !important;
  height: 256px !important;
  top: 0;
  left: 0;
  max-height: unset;
}

.mega .info-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 12px;
  padding: 12px 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--base-colormain-sea-blue);
  border-radius: 0px 0px 8px 8px;
}
.interactive-reports .title:hover .menu-text-2{
  color: var(--base-colormain-sea-blue);cursor: pointer;
}
.interactive-reports .title:hover .img-2{
  filter: brightness(0) saturate(100%) invert(16%) sepia(100%) saturate(2490%) hue-rotate(188deg) brightness(97%) contrast(103%);
}

.box-1-bg{
  background: linear-gradient(29deg, #3eabe8 0%, #2bc0ffba 54.69%, #ff648142 100%);
}
.box-2-bg{
  background: linear-gradient(24deg, #38b4f9 0%, #ff597896 54.69%, #c82343fc 100%);
}
.box-3-bg{
  background: linear-gradient(17deg, #0b81c3 0%, #22a7f1 54.69%, #e89fad87 100%);
}
.box-4-bg{
  background: linear-gradient(42deg, #03486d 0%, #188bc8 54.69%, #33b6ff 100%);
}
.box-5-bg{
  background: linear-gradient(307deg, #0b71a7de 0%, #089aec 54.69%, #2fabf2 100%);
}
.box-6-bg{
  background: linear-gradient(350deg, #0F6EA1 0%, #0F6EA1 54.69%, #12a8fc 100%);
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-45deg, rgba(0,0,0,.6) 20%, #FFF 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
  z-index: 9999;cursor: pointer;
}
.box-h .box-f4 img,.box-h .box-f4 .text-wrapper,.box-h .box-f3 .text-wrapper,.box-h .box-f3 img,.box-h .box-f7 .text-wrapper,.box-h .box-f7 img{
  z-index: 99999;
}